@font-face {
  font-family: 'RedHatText-Bold'; /* Name you'll use in other CSS rules */
  src: url('assets/fonts/static/RedHatText-Bold.ttf');}
@font-face {
  font-family: 'RedHatText-Regular'; /* Name you'll use in other CSS rules */
  src: url('assets/fonts/static/RedHatText-Regular.ttf');}
@font-face {
  font-family: 'RedHatText-SemiBold'; /* Name you'll use in other CSS rules */
  src: url('assets/fonts/static/RedHatText-SemiBold.ttf');}
@font-face {
  font-family: 'RedHatText-Var'; /* Name you'll use in other CSS rules */
  src: url('assets/fonts/RedHatText-VariableFont_wght.ttf');}

body{
    background-color: papayawhip;
}
h1{
    font-family: 'RedHatText-Bold';
}

.whole{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: 900px 1fr; */
    gap: 1em;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}
.products-container h1{
    display: block;
}

.product{
    display: flex;
    flex-direction: column;
    /* border: 1px red solid; */
    width: 300px;
}
.img-btn-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    /* border: 1px black solid; */
    align-items: center;
    position: relative;
}
.product-img{
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.add-cart-btn{
    position: absolute;
    bottom: -10px;
    display: flex;
    gap: 1em;
    border-radius: 50px;
    border: 0.1px grey solid;
    width: 150px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: 'RedHatText-SemiBold';
}

.details{
    margin: 5px;
}
.details h3{
    margin-top: 10px;
    font-weight: lighter;
    font-family: 'RedHatText-Var';
}
.details p{
    margin-top: -10px;
    font-weight: bolder;
    margin-bottom: 10px;
    font-family: 'RedHatText-SemiBold';
}
.details span{
    margin-top: -10px;
    color: coral;
    font-family: 'RedHatText-Bold';
}

.cart{
    display: flex;
    flex-direction: column;
    border: 3px greenyellow solid;
    width: 400px;
    height: 400px;
    background-color: wheat;
}
.cart h2{
    padding: 10px;
}
.cart img{
    width: 200px;
    align-self: center;
}
.cart p{
    align-self: center;
}